PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_pass
DB_NAME=hito3
JWT_SECRET=tu_clave_jwt
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxx
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_clave_smtp_o_app_password
MAIL_FROM="PsicoConecta <tu_correo@gmail.com>"
ADMIN_EMAIL=admin@correo.cl
